extends node_modules/pug-bootstrap/_bootstrap.pug
include src/components/mixins.pug

append styles
    link(rel="stylesheet", href="assets/css/home.css")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet")

block body
    .navbar-wrapper
        .container
            +navbar-fixed("Business Name","main-navbar")
                +nav_item("#") Home
                +nav_item("#") Services
                +nav_item("#") About
                +nav_item("#") Portifolio
                +nav_item("#") Testimonials
                +nav_item("#") Contact
    block content
append scripts
    script(src="https://use.fontawesome.com/699336bbda.js")
    