/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
	min-height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Common styles */
nav.navbar-default{
	background: transparent;
	border: none;
	.navbar-nav{
		float: right;
	}
}

section{
	margin: 15px 0 30px;
	.section-title{
		text-align: center;
		margin: 35px 0 30px;
		h2{
			color: #709dca;
			font-weight: 800;
			font-size: 26px;
		}
	}
}

/* Blocks styles */
@import "_who-we-are.less";
@import "_what-we-offer.less";
@import "_see-our-work.less";